[
  {
    "pipeline_id": "cc",
    "properties": [
      {
        "name": "custom-param1",
        "type": "text",
        "value": "example1",
        "locked": "false"
      },
      {
        "name": "custom-param2",
        "type": "secure",
        "value": "grit-token",
        "locked": "true"
      },
      {
        "name": "custom-param3",
        "type": "single_select",
        "value": "0",
        "enum": "[0,1,2]",
        "locked": "false"
      }
    ]
  }
]
