/*****************************************************/
/* Variables for Module "Main"                       */
/*****************************************************/
toolchain_resource_group        = "Default"
toolchain_region                = "us-south"
toolchain_name                  = "DevSecOps CC Toolchain - Terraform"
toolchain_description           = "CC Toolchain created with Template for DevSecOps Best Practices"
enable_external_properties      = false

/*****************************************************/
/* Variables for Module "Repositories"               */
/*****************************************************/
ibmcloud_api_key               = ""
evidence_repo_url              = "https://us-south.git.cloud.ibm.com/open-toolchain/compliance-evidence-locker.git"
inventory_repo_url             = "https://us-south.git.cloud.ibm.com/open-toolchain/compliance-inventory.git"
issues_repo_url                = "https://us-south.git.cloud.ibm.com/open-toolchain/compliance-incident-issues.git"
ibmcloud_api                   = "https://cloud.ibm.com"
app_repo_url                   = ""

/*****************************************************/
/* Variables for Module "Services"                   */
/*****************************************************/
sm_name                         = "sm-prod-wdc"
sm_location                     = "us-south"
sm_secret_group                 = "Default"
sm_resource_group               = "Default"
#enable_secrets_manager          = false
#enable_key_protect              = true
#kp_name                         = "kp-prod-dal"
#kp_location                     = "us-south"
#kp_secret_group                 = "Default"

#pipeline_ibmcloud_api_key_secret_name  = "ibmcloud_api_key"
#cos_api_key_secret_name        = ""
#cos_bucket_name                = ""
#cos_endpoint                   = ""

/*****************************************************/
/* Variables for Module "Integrations"               */
/*****************************************************/
#doi_toolchain_id                = toolchain Id of the toolchain owning the DevopsInsights integration
#link_to_doi_toolchain           = false|true (Default: false)
#authorization_policy_creation   = "disabled"
#slack_channel_name              = "slack-channel"
#slack_api_token                 = "slack-token"
#slack_user_name                 = "slack-user"

/*****************************************************/
/* Variables for external-properties mode            */
/*****************************************************/
# Only used when var.enable_external_properties=true
# external_properties_repo_url    = ""
# external_properties_branch      = "main"
# external_properties_path        = "tekton"
# vault_secret_id_secret_name     = "vault_secret_id"
